/* LAYOUT
===================================*/
body{
  display: block;
  padding-top:70px;
  color: white;
  background: url(../images/bench2.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar,
.jumbotron,
.regularContent{
  opacity: 0.8;
  background-color: black;
}

.regularContent{
  border-radius: 25px;
  font-size: 1.2em;
}

.dropdown{
  opacity: 0.8;
}

#names{
  font-family: "Gudea"
}

li.dropdowns.active{
  background-color:pink;
}